/* FORM CLOSED */
.formOpenBtn {
  margin: 2rem auto;
  background-color: white;
  border-radius: 12px;
  height: 50px;
  color: black;
  border: 4px solid black;
}

.form-opener {
  max-width: 95%;
  width: 50rem;
  display: flex;
  justify-content: center;
  background-color: #a892ee;
  border-radius: 12px;
  margin: 2rem auto;
}
